doctype html
html
  head
    title Books
    style
      include ../stylesheets/style.css

  include navigation.pug

  body
    h1 Books
    p
      a(href='new_book.pug' class='button') Create New Book
      p Filters #{''}
        a(href='all_books.pug') All | #{''}
        a(href='overdue_books.pug') Overdue | #{''}
        a(href='checked_books.pug') Checked Out |

    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released

      tbody
        for books in filtered
          tr
            td
              a(href=`/books/${books.id}`) #{books.title}
            td #{books.author}
            td #{books.genre}
            td #{books.first_published}
