doctype html
html
  head
    title Loans
    style
      include ../stylesheets/style.css

  include navigation.pug

  body
    h1 Loans

    p
      a(href='new_loan' class='button') Create New Loan
    p Filters #{''}
      a(href='all_loans') All | #{''}
      a(href='overdue_loans') Overdue | #{''}
      a(href='checked_loans') Checked Out

    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
      each loan in data
        tr
          td
            a(href=`/books/${loan.bookId}`) #{loan.title}
          td
            a(href=`/patron_detail/${loan.patronId}`) #{loan.patron}
          td #{loan.loanOn}
          td #{loan.returnBy}
          td #{loan.returnedOn}
          td
            if !loan.returnedOn
              a(href=`return_book/${loan.loanId}` class='button') Return Book
