doctype html
html
  head
    title Patrons
    style
      include ../stylesheets/style.css

  include navigation.pug

  body
    h1 Patrons
    p
      a(href='/new_patrons' class='button') Create New Patron
    table
      thead
        tr
          th Name
          th Address
          th Email
          th Library ID
          th Zip
      tbody
        each pat in data
          tr
            td
              a(href=`/patron_detail/${pat.id}`) #{pat.first_name} #{pat.last_name}
            td #{pat.address}
            td #{pat.email}
            td #{pat.library_id}
            td #{pat.zip_code}
