doctype html
html
  head
    title #{details.title}
    style
      include ../stylesheets/style.css

  include navigation.pug

  body
    h1 Book: #{details.title}
    form(method='post')
      p
        label(for='title') Title
          input(id='title' name='title' type='text' value=`${details.title}` required)
      p
        label(for='author') Author
          input(id='author' name='author' type='text' value=`${details.author}` required)
      p
        label(for='genre') Genre
          input(id='genre' name='genre' type='text' value=`${details.genre}` required)
      p
        label(for='first_published') First Published
          input(id='first_published' name='first_published' type='text' value=`${details.first_published}`)
      p
        input(type='submit' value='Update')

    h2 Loan History
    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action

      tbody
      if loans
        tr
          td
            a(href='../views/book_detail.pug') #{details.title}
          td
            a(href=`/patron_detail/${patron.id}`) #{patron.first_name + ' ' + patron.last_name}
          td #{loans.loaned_on}
          td #{loans.return_by}
          td
          td
            a(href='return_book.pug' class='button') Return Book
