doctype html
html
  head
  title Overdue Loans
  style
    include ../stylesheets/style.css

  include navigation.pug

  body
    h1 Checked Out
    p
      a(href='new_loan' class='button') Create New Loan
    p
      a(href='all_loans') All | #{''}
      a(href='overdue_loans') Overdue | #{''}
      a(href='checked_loans') Checked Out

    table
      thead
        tr
          th Book
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
      each loan in data
        tr
          td
            a(href='book_detail') #{loan.title}
          td
            a(href='patron_detail') #{loan.patron}
          td #{loan.loanOn}
          td #{loan.returnBy}
          td
          td
            if !loan.returnedOn
              a(href='return_book' class='button') Return Book
