doctype html
html
  head
    title Books
    style
      include ../stylesheets/style.css

  include navigation.pug

  body
    h1 Checked Out Books
    p
      a(href='new_book' class='button') Create New Book
      p Filters #{''}
        a(href='all_books') All | #{''}
        a(href='overdue_books') Overdue | #{''}
        a(href='checked_books') Checked Out |

    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released

      tbody
        each books in book
          tr
            td
              a(href=`/books/${books.dataValues.id}`) #{books.dataValues.title}
            td #{books.author}
            td #{books.genre}
            td #{books.first_published}
